*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;

  --main-font: "Raleway", "Helvetica Neue", Helvetica, Arial;
  --accent-font: "STIX Two Text", "Helvetica Neue", Helvetica, Arial;

  --list-style-marker-light: url(../images/marker-light.svg);
}

.page {
  border-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);

  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10vw;
}

.heading {
  font-family: var(--accent-font);
  text-align: center;
  font-weight: 600;
  line-height: 0.9;
}

.content-section {
  padding: 0 5vw 0 5vw;
}

.header__title {
  font-size: clamp(3.75rem, 2.7632rem + 5.2632vw, 7.5rem);
  margin-bottom: 3vw;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 20px 5vw 20px 5vw;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__theme-button {
  background-color: unset;
  cursor: pointer;
  border: 0;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button:focus-visible {
  outline: 1px solid var(--text-color);
}

.header__theme-button_is-active {
  font-weight: 700;
  position: relative;
  pointer-events: none;
}

.header__theme-button_is-active:hover {
  text-decoration: none;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;

  background-color: var(--accent-color);
}

.content__title {
  font-size: 30px;
  margin-top: 7vw;
  margin-bottom: 2.5vw;
}

.content__text-block:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block_type_first-lettered:first-letter {
  background-color: var(--accent-color);
  padding: 4px;
  margin-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.content__figure {
  position: relative;
  left: -5vi;
  padding: 7% 0 7% 0;
  width: calc(100% + 5vi + 5vi);
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  border-bottom: 1px solid var(--text-color);
  text-align: center;
  padding: 20px 0 20px 0;
}

.content__blockquote {
  max-width: 75%;
  margin-bottom: 1.5em;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 2;
}

.content__link {
  color: inherit;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  margin-top: 7vw;
  padding: 10px;
  border: 1px solid var(--text-color);
}

.content__card-title {
  font-size: 60px;
  z-index: 0;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;

  background-color: var(--accent-color);
}

.content__card-subtitle {
  font-size: 18px;
}

.content__list {
  list-style: none;
}

.content__item:not(:last-child) {
  margin-bottom: 10px;
}

.content__item::before {
  content: var(--list-style-marker-light);
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer {
  margin-top: 10vw;
  border-top: 1px solid var(--text-color);
  text-align: center;
}

.footer__copyright {
  font-family: var(--main-font);
  font-size: 18px;
  padding: 2.5%;
}
